.footer
{
    padding: 3rem;  
    height: 3rem;
    display: flex;
    
    .div__footer
    {
        padding: 2%;
      
    }
}

.img__footer
{
    width:300px;
    position: relative;
    left: 5rem;
    top: -2rem;
}

.subtitulo
{
    position: relative;
    left: 5rem;
}

.h2__footer
{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 2rem;

}

.p__footer1{
    font-size: 17px;
    margin: 2rem;
}

.contacto
{
    font-weight: bold;
    position: relative;
    left: 2rem;
}

.a__footer
{
    text-decoration: none;
    color: #bf9f60;
}

.redes{
    position: relative;
    left:10rem;
}

.subti
{
    font-weight: bold;
    font-size: 20px;
}

.facebook
{
    width: 40px;
    margin: 2rem;
    position: relative;
    right: 3rem;
    text-decoration: none;
}
.a__facebook
{
    text-decoration: none;
}

.instagram
{
    width: 40px;
    margin: 2rem;
    position: relative;
    right: 7rem;
}

.a__instagram
{
    text-decoration: none;
}

.github
{
    width: 40px;
    margin: 2rem;
    position: relative;
    right: 11rem;
}

.a__github
{
    text-decoration: none;
}

.linkedin
{
    width: 40px;
    margin: 2rem;
    position: relative;
    right: 15rem;}

 a.linkedin
 {
     text-decoration: none;
 } 
 
 .p__foot
 {
     font-size: 17px;
     font-weight: bold;
     position: relative;
     right: 6rem;
 }
